@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/RobotoFlex.woff2") format("woff2"), url("../fonts/RobotoFlex.woff") format("woff");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
:root {
  --x-padding: 25px;
  --title-width: 290px;
  --block-radius: clamp(30px, 7.340862423vw, 143px);
}
@media (min-width: 900px) {
  :root {
    --x-padding: clamp(20px, 6.6735112936vw, 130px);
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.35;
  font-family: "Roboto Flex", Roboto, sans-serif;
  background: #0d0a5d;
  color: #ffffff;
  font-stretch: 151%;
  font-variation-settings: "GRAD" 0, "slnt" 0, "XTRA" 468, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}
body.mac {
  min-height: -webkit-fill-available;
}

.body-with-open-modal {
  overflow: hidden;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=search], input[type=password], input[type=number], input[type=time], input[type=month], input[type=week] {
  line-height: 1;
  --input-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: var(--input-pt, 12px) var(--input-pr, 14px) var(--input-pb, 12px) var(--input-pl, 14px);
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: var(--input-shadow);
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
input[type=text]:-webkit-autofill::first-line, input[type=text]:-webkit-autofill, input[type=text]:-webkit-autofill:hover, input[type=text]:-webkit-autofill:focus, input[type=text]:-webkit-autofill:active, input[type=email]:-webkit-autofill::first-line, input[type=email]:-webkit-autofill, input[type=email]:-webkit-autofill:hover, input[type=email]:-webkit-autofill:focus, input[type=email]:-webkit-autofill:active, input[type=tel]:-webkit-autofill::first-line, input[type=tel]:-webkit-autofill, input[type=tel]:-webkit-autofill:hover, input[type=tel]:-webkit-autofill:focus, input[type=tel]:-webkit-autofill:active, input[type=url]:-webkit-autofill::first-line, input[type=url]:-webkit-autofill, input[type=url]:-webkit-autofill:hover, input[type=url]:-webkit-autofill:focus, input[type=url]:-webkit-autofill:active, input[type=date]:-webkit-autofill::first-line, input[type=date]:-webkit-autofill, input[type=date]:-webkit-autofill:hover, input[type=date]:-webkit-autofill:focus, input[type=date]:-webkit-autofill:active, input[type=search]:-webkit-autofill::first-line, input[type=search]:-webkit-autofill, input[type=search]:-webkit-autofill:hover, input[type=search]:-webkit-autofill:focus, input[type=search]:-webkit-autofill:active, input[type=password]:-webkit-autofill::first-line, input[type=password]:-webkit-autofill, input[type=password]:-webkit-autofill:hover, input[type=password]:-webkit-autofill:focus, input[type=password]:-webkit-autofill:active, input[type=number]:-webkit-autofill::first-line, input[type=number]:-webkit-autofill, input[type=number]:-webkit-autofill:hover, input[type=number]:-webkit-autofill:focus, input[type=number]:-webkit-autofill:active, input[type=time]:-webkit-autofill::first-line, input[type=time]:-webkit-autofill, input[type=time]:-webkit-autofill:hover, input[type=time]:-webkit-autofill:focus, input[type=time]:-webkit-autofill:active, input[type=month]:-webkit-autofill::first-line, input[type=month]:-webkit-autofill, input[type=month]:-webkit-autofill:hover, input[type=month]:-webkit-autofill:focus, input[type=month]:-webkit-autofill:active, input[type=week]:-webkit-autofill::first-line, input[type=week]:-webkit-autofill, input[type=week]:-webkit-autofill:hover, input[type=week]:-webkit-autofill:focus, input[type=week]:-webkit-autofill:active {
  font-family: "Roboto Flex", Roboto, sans-serif !important;
  font-weight: 400;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=date]:focus, input[type=search]:focus, input[type=password]:focus, input[type=number]:focus, input[type=time]:focus, input[type=month]:focus, input[type=week]:focus {
  outline: none;
  box-shadow: 0 1px 6px #5a8fcc;
}
input[type=text]:disabled, input[type=email]:disabled, input[type=tel]:disabled, input[type=url]:disabled, input[type=date]:disabled, input[type=search]:disabled, input[type=password]:disabled, input[type=number]:disabled, input[type=time]:disabled, input[type=month]:disabled, input[type=week]:disabled {
  border-color: #cccccc;
  color: #cccccc;
  opacity: 0.8;
}

textarea {
  min-height: 130px;
  max-height: 400px;
  resize: none;
  --input-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: var(--input-pt, 12px) var(--input-pr, 14px) var(--input-pb, 12px) var(--input-pl, 14px);
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: var(--input-shadow);
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
textarea:-webkit-autofill::first-line, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  font-family: "Roboto Flex", Roboto, sans-serif !important;
  font-weight: 400;
}
textarea:focus {
  outline: none;
  box-shadow: 0 1px 6px #5a8fcc;
}
textarea:disabled {
  border-color: #cccccc;
  color: #cccccc;
  opacity: 0.8;
}

input::-moz-placeholder {
  color: #b5b5b5;
}

input::placeholder {
  color: #b5b5b5;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

textarea::-moz-placeholder {
  color: #b5b5b5;
}

textarea::placeholder {
  color: #b5b5b5;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=search], input[type=password], input[type=number], input[type=time], input[type=month], input[type=week],
textarea,
[contenteditable] {
  caret-color: #8938FF;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
}

select {
  --input-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: var(--input-pt, 12px) var(--input-pr, 14px) var(--input-pb, 12px) var(--input-pl, 14px);
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  box-shadow: var(--input-shadow);
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}
select:-webkit-autofill::first-line, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  font-family: "Roboto Flex", Roboto, sans-serif !important;
  font-weight: 400;
}
select:focus {
  outline: none;
  box-shadow: 0 1px 6px #5a8fcc;
}
select:disabled {
  border-color: #cccccc;
  color: #cccccc;
  opacity: 0.8;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 900px) {
  .container {
    max-width: 1948px;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-size: clamp(29px, 5.3388090349vw, 104px);
  font-weight: 400;
  text-transform: uppercase;
}
.page h1 {
  margin-bottom: 1em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.78125em;
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-size: clamp(29px, 5.3388090349vw, 104px);
  font-weight: 400;
  text-align: center;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  padding: 0.3em 1.6em;
  border: none;
  font-size: 16px;
  font-family: "Roboto Flex", Roboto, sans-serif;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 900px) {
  .btn {
    font-size: 20px;
  }
}
.btn:disabled {
  opacity: 0.8;
  cursor: auto;
}
.btn:focus {
  outline: none;
}

.btn--bright {
  position: relative;
  border: none;
  border-radius: 25px;
  background: #8938FF;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.btn--bright:hover, .btn--bright:focus {
  outline: none;
  opacity: 0.9;
}
.btn--bright:active {
  opacity: 0.8;
}

.btn--accent {
  position: relative;
  border: 1px solid rgba(26, 114, 255, 0.54);
  border-radius: 6px;
  background: #0a64b7;
  background-clip: padding-box;
  color: #ffffff;
  text-decoration: none;
}
.btn--accent:hover, .btn--accent:focus {
  outline: none;
  opacity: 0.9;
}
.btn--accent:active {
  opacity: 0.8;
}

.btn--accent-inverse {
  position: relative;
  border: 2px solid #0a64b7;
  border-radius: 6px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
}
.btn--accent-inverse:hover, .btn--accent-inverse:focus {
  outline: none;
  opacity: 0.9;
}
.btn--accent-inverse:active {
  opacity: 0.8;
}

.btn--transparent {
  background: transparent;
  color: #373737;
  border-color: transparent;
}

.btn--as-link {
  display: inline;
  min-width: unset;
  padding: unset;
  border: none;
  letter-spacing: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background: transparent;
  color: #8938FF;
  text-decoration: underline;
  text-align: left;
}
@media (min-width: 900px) {
  .btn--as-link {
    font-size: inherit;
  }
}

.btn--only-icon {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  min-width: unset;
}
.btn--only-icon:focus {
  outline: none;
  opacity: 0.8;
}

.logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.logo--big {
  margin-left: auto;
  margin-right: auto;
}
.page .logo--big {
  display: none;
  transform: translateX(calc(0px - (1100px - var(--search-block-width)) / 2));
  margin-left: unset;
  margin-right: unset;
}
@media (min-width: 900px) {
  .page .logo--big {
    display: block;
    margin-top: -20px;
    margin-bottom: -20px;
  }
}
.social {
  padding-left: 0;
  list-style-type: none;
}

.social__link {
  text-decoration: underline;
  color: inherit;
}
.nav {
  --width-mobile-menu: calc(100% + 2 * (var(--header-px)));
  position: relative;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content auto;
  grid-template-columns: 1fr max-content auto;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 0;
}
@media (min-width: 900px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    height: 65px;
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .nav.header__nav {
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 900px) {
  .nav.header__nav .nav__list {
    order: initial;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 auto 0;
  }
}
.nav .btn-toggle {
  order: 3;
}
@media (min-width: 900px) {
  .nav .btn-toggle {
    order: revert;
  }
}
.nav:not(.nav--opened) .nav__overlay {
  display: none;
}
@media (min-width: 900px) {
  .nav:not(.nav--opened) .nav__overlay {
    display: contents;
  }
}

.nav--opened .nav__overlay {
  display: contents;
}
.nav--opened .nav__wrap {
  order: 4;
  grid-column: 1/-1;
  display: block;
  width: var(--width-mobile-menu);
  min-height: 100vh;
  margin-top: var(--header-pb);
  margin-left: calc(0px - var(--header-px));
  margin-right: calc(0px - var(--header-px));
  background: #ffffff;
  color: #000000;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.35);
  z-index: 20;
}

.nav__wrap {
  display: contents;
}

.nav__logo .logo__img--text {
  display: none;
}
@media (min-width: 900px) {
  .nav__logo .logo__img--text {
    display: block;
  }
}
@media (min-width: 900px) {
  .nav__logo .logo__img--pict {
    display: none;
  }
}
.index .nav:not(.nav--opened) .nav__logo .logo__img--pict {
  visibility: hidden;
  opacity: 0;
}

.nav__user {
  justify-self: end;
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  gap: 15px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 900px) {
  .nav__user {
    order: 2;
    padding: 7px 15px;
    margin-top: 0;
  }
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;
}
@media (min-width: 900px) {
  .nav__item {
    align-items: revert;
    width: auto;
    min-height: unset;
    margin-bottom: 0;
    margin-left: clamp(10px, 0.9240246407vw, 18px);
    margin-right: clamp(10px, 0.9240246407vw, 18px);
    border: none;
  }
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid #adc2db;
}
@media (min-width: 900px) {
  .nav__item:not(:last-child) {
    border: 0;
  }
}
.nav__item.hide {
  display: none;
}

.nav__item--about-us {
  flex-wrap: wrap;
}

.nav__list {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 var(--x-padding);
  list-style-type: none;
}
@media (min-width: 900px) {
  .nav__list {
    justify-self: center;
    width: 552px;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__link {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}
@media (min-width: 900px) {
  .nav__link {
    display: flex;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    color: #999999;
    text-transform: uppercase;
  }
}
.nav__link:hover {
  color: #000000;
}

@media (max-width: 899.98px) {
  .nav__link--about-us::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-color: #70b2e2;
    -webkit-mask: var(--icon-danger-inverse) no-repeat center/contain;
            mask: var(--icon-danger-inverse) no-repeat center/contain;
  }
}
@media (max-width: 899.98px) {
  .nav__link--about-us + .modal-block {
    position: static;
    display: block;
    padding: 0;
    background: transparent;
  }
}
@media (max-width: 899.98px) {
  .nav__link--about-us + .modal-block .modal {
    display: contents;
  }
}
@media (max-width: 899.98px) {
  .nav__link--about-us + .modal-block .modal__btn {
    display: none;
  }
}
@media (max-width: 899.98px) {
  .nav__link--about-us + .modal-block .about-us {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #adc2db;
  }
}

@media (max-width: 899.98px) {
  .nav__link--become-partner::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-color: #70b2e2;
    -webkit-mask: var(--icon-partner) no-repeat center/contain;
            mask: var(--icon-partner) no-repeat center/contain;
  }
}

@media (max-width: 899.98px) {
  .nav__link--refer-us::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-color: #70b2e2;
    -webkit-mask: var(--icon-refer-us) no-repeat center/contain;
            mask: var(--icon-refer-us) no-repeat center/contain;
  }
}

@media (max-width: 899.98px) {
  .nav__link--notification::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-color: #70b2e2;
    -webkit-mask: var(--icon-notice) no-repeat center/contain;
            mask: var(--icon-notice) no-repeat center/contain;
  }
}
@media (min-width: 900px) {
  .nav__link--notification {
    display: none;
  }
}

@media (max-width: 899.98px) {
  .nav__link--log-out::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
    background-color: #70b2e2;
    -webkit-mask: var(--icon-logout) no-repeat center/contain;
            mask: var(--icon-logout) no-repeat center/contain;
  }
}
@media (min-width: 900px) {
  .nav__link--log-out {
    display: none;
  }
}

.nav__link--search-result span {
  color: #d62d30;
}

.btn-toggle {
  position: relative;
  display: block;
  width: 30px;
  min-width: initial;
  height: 24px;
  padding: 0;
  background: transparent url("data:image/svg+xml,%3Csvg width='58' height='17' viewBox='0 0 58 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='58' y2='1' stroke='white' stroke-width='2'/%3E%3Cline y1='16' x2='58' y2='16' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center/contain;
  border: none;
  border-radius: 0;
}
.btn-toggle:focus {
  outline: none;
}

.btn-toggle--close {
  margin-top: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-1' x2='31.8277' y2='-1' transform='matrix(0.722642 -0.691223 0.495954 0.868349 1 24)' stroke='white' stroke-width='2'/%3E%3Cline y1='-1' x2='31.8277' y2='-1' transform='matrix(-0.722642 -0.691223 -0.495954 0.868349 24 24)' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.modal-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto -webkit-min-content auto;
  grid-template-columns: auto min-content auto;
  grid-template-rows: minmax(20px, 1fr) -webkit-min-content 1fr;
  grid-template-rows: minmax(20px, 1fr) min-content 1fr;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  overflow-y: auto;
}
@media (min-width: 900px) {
  .modal-block {
    background: rgba(0, 0, 0, 0.4);
  }
}
.modal-block.hide {
  display: none;
}

@media (max-width: 899.98px) {
  .modal-block--adaptive {
    display: block;
    padding: 0;
  }
}

.modal {
  --modal-pl: 100px;
  --modal-pt: 100px;
  --modal-pb: 100px;
  --radius: 15px;
  grid-area: 2/2/2/2;
  position: relative;
  min-height: 100%;
  height: auto;
  padding: var(--modal-pt, 100px) var(--modal-pl, 100px) var(--modal-pb, 100px);
  border-radius: var(--radius);
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: #000000;
}
.modal-block--adaptive .modal {
  --modal-pl: 20px;
  --modal-pt: 0;
  --modal-pb: 33px;
  border-radius: 0;
}
@media (min-width: 540px) {
  .modal-block--adaptive .modal {
    --modal-pl: 50px;
  }
}
@media (min-width: 900px) {
  .modal-block--adaptive .modal {
    --modal-pl: 100px;
    --modal-pt: 50px;
    --modal-pb: 40px;
    border-radius: var(--radius);
  }
}

@media (max-width: 899.98px) {
  .modal__title {
    width: calc(100% + 2 * var(--modal-pl));
    padding: 13px var(--modal-pl);
    margin-left: calc(0px - var(--modal-pl));
    margin-right: calc(0px - var(--modal-pl));
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Flex", Roboto, sans-serif;
    background: #FFFFFF;
    color: #CCCCCC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
}

.modal__btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  min-width: unset;
  padding: 5px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  background: transparent;
  color: #292929;
}
.modal__btn:hover {
  opacity: 0.8;
  color: #8938FF;
}
@media (max-width: 899.98px) {
  .modal-block--adaptive .modal__btn {
    position: absolute;
    top: 10px;
    left: 24px;
    color: transparent;
  }
  .modal-block--adaptive .modal__btn::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 17px;
    background: #999999;
    -webkit-mask: var(--icon-arrow-left3) no-repeat center/contain;
            mask: var(--icon-arrow-left3) no-repeat center/contain;
  }
}

.modal__logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 900px) {
  .modal__logo {
    display: none;
  }
}

.intro {
  color: #0d0a5d;
  padding-top: 100px;
  background: #ffffff;
  border-radius: var(--block-radius) var(--block-radius) 0 0;
}