{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": [
          "inside-parens"
        ]
      }
    ],
    "max-nesting-depth": 4,
    "function-no-unknown": null,
    "number-max-precision": null,
    "no-invalid-position-at-import-rule": null,
    "value-no-vendor-prefix": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "import",
          "mixin",
          "define-mixin",
          "include",
          "extend",
          "content",
          "rules",
          "function",
          "return",
          "each",
          "for",
          "if",
          "else",
          "use"
        ]
      }
    ],
    "block-no-empty": true,
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": [
          "each",
          "if",
          "else"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "blockless-after-blockless"
        ],
        "ignore": [
          "after-comment"
        ],
        "ignoreAtRules": [
          "each",
          "if",
          "else",
          "include"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "first-nested",
          "inside-block"
        ]
      }
    ],
    "max-empty-lines": 4
  }
}
