@keyframes center-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    //transform: translateY(50%);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes lighten {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lighten03 {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lighten-darken {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mean-for-you__item,
.start-up-help__item {

  &::before {
    opacity: 0;
  }

  &.animation {

    &::before {
      animation-delay: var(--animation-delay);
      animation-name: lighten;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }
}
