.connecting {
  padding-top: clampvw(60, 145);
  padding-bottom: clampvw(60, 180);
  border-radius: 0 0 var(--block-radius) var(--block-radius);
}

.connecting__title {
  margin-bottom: clampvw(28, 68);
}

.connecting__btn {
  padding: 1.22em 3.64em;
  font-size: clampvw(21, 39);

  @include _sm-max {
    width: 100%;
    padding: 1.12em;
    font-size: 21px;
  }
}
