.footer {
  --indent: 1em;
  padding-top: clampvw(30, 50);
  padding-bottom: clampvw(57, 112);
  font-size: clampvw(11, 20);
  color: rgba(255, 255, 255, 0.5);

  @include _sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: clampvw(40, 140);
  }

  .header--opened ~ & {
    display: none;
  }
}

.footer__copyright {
  margin: 0 0 var(--indent);

  @include _sm {
    margin-bottom: 0;
  }
}

.footer__links {
  display: grid;
  row-gap: var(--indent);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include _sm {
    grid-template-columns: auto auto auto;
    column-gap: clampvw(40, 124);
  }

  a {
    color: inherit;
  }
}
