.header {
  //padding-left: clampvw(17, 63);
  //padding-right: clampvw(17, 63);
  //position: sticky;
  //top: 0;
  position: relative;
  background: var(--dark);
  z-index: 20;
}

.header--opened {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  @include _sm {
    //display: block;
    //min-height: unset;
  }
}

.header--mini {
  position: sticky;
  top: 0;

  &::after {
    // размер
    --s: var(--block-radius);
    // цвет
    --c: var(--dark);
    // цвет границы
    --bc: rgba(255, 255, 255, 0.2);
    --g: transparent calc(var(--s) - 1.8px), var(--bc) calc(var(--s) - 1px), var(--bc) calc(var(--s) - 0.6px), var(--c) var(--s);
    content: "";
    position: absolute;
    //top: calc(100% - 1px);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    @include container;
    //width:100%;
    height: var(--block-radius);
    pointer-events: none;
    background: linear-gradient(to right, transparent var(--s), var(--bc) var(--s), var(--bc) calc(100% - var(--s)), transparent calc(100% - var(--s))) no-repeat top center / 100% 1px, radial-gradient(at bottom left, var(--g)) no-repeat right top / var(--s) var(--s), radial-gradient(at bottom right, var(--g)) no-repeat left top / var(--s) var(--s);
    box-shadow: 1px -1px 0 -1px var(--c), -1px -1px 0 -1px var(--c);

    @include _sm {
      //max-width: 1922px;
    }
  }
}

.header__title {
  display: none;

  .header--opened & {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //background: url("../img/ellipse-mob-0-8.png") no-repeat center bottom -10% / 140%;

    @include _sm {
      display: block;
      background: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      width: 160%;
      aspect-ratio: 603/582;
      background: url("../img/ellipse-mob-0-8.png") no-repeat center bottom -10% / 100%;
      z-index: -1;

      @include _sm {
        display: none;
      }
    }
  }
}

.header__title-part {
  position: relative;
  display: block;
  transition: opacity 0.5s;

  .header--opened & {

    @include _sm {
      opacity: 0.5;
      filter: blur(5.625px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      width: clampvw(200, 1130);
      aspect-ratio: 1130/1091;
      background: url("../img/ellipse3.png") no-repeat center / contain;
      z-index: -1;
      pointer-events: none;
      opacity: 0.3;
      transition: opacity 0.5s;
    }

    &.active {
      opacity: 0.99; // для z-index, чтобы не менялся контекст
      filter: none;

      &::before {
        opacity: 1;
      }
    }
  }
}

.header__title-part--blogger {
  i {
    display: inline-block;
    vertical-align: middle;
    //width: clampvw(111, 306);
    width: 3.825em;
    aspect-ratio: 306/111;
    background: no-repeat top center / contain;
    @include adaptive-bg("../img/header-bloggers", ".png");

    // десктопы
    @include _sm {
      &:first-child {
        //
      }
      &:last-child {
        display: none;
      }
    }

    // мобилки
    @include _sm-max {
      &:first-child {
        display: none;
      }
      &:last-child {
        //
      }
    }
  }
}

.header__big-nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  column-gap: clampvw(16, 31);
  row-gap: clampvw(13, 20);
  margin-left: auto;
  margin-right: auto;

  @include _sm {
    grid-template-columns: min-content min-content;
  }

  .header--mini & {
    column-gap: 5px;
    width: fit-content;
    padding-left: 34px;
    margin-top: calc(-4px - var(--nav-height)); // --nav-height from js

    @include _sm {
      column-gap: clampvw(16, 31);
      padding-left: 0;
      margin-top: calc(#{clampvw(2, 10)} - var(--nav-height)); // --nav-height from js
    }
  }

  .header--opened & {
    width: 100%;
    padding-bottom: 20px;
    padding-left: var(--x-padding);
    padding-right: var(--x-padding);

    @include _sm {
      width: fit-content;
      padding: 0;
    }
  }

  &::after {
    @include _sm {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      width: 120%;
      aspect-ratio: 1784/625;
      background: url("../img/ellipse0-8.png") no-repeat center/ contain;
      z-index: -1;
      pointer-events: none;
    }
  }
}

.header__big-link {
  //grid-row: unset;
  border: 1px solid $color-inverse;
  border-radius: 100vw;
  font-size: clampvw(20, 39);
  color: $color-inverse;
  text-align: center;

  @include _sm {
    grid-row: 2/3;
    border-bottom: 0;
    border-radius: clampvw(42, 80) clampvw(42, 80) 0 0;
    text-align: center;
  }

  .header--opened & {
    width: 100%;
    padding: 1.1em 0.5em;

    @include _sm {
      width: clampvw(272, 511);
      padding: 1.3em 0.5em;
    }
  }

  .header--mini & {
    grid-row: 2/3;
    width: fit-content;
    padding: 1.1em 1.2em;
    border-radius: 12px 12px 0 0;
    font-size: clampvw(9, 16);
    white-space: nowrap;

    @include _md-max {
      border-bottom: 0;
    }

    @include _md {
      width: clampvw(78, 214);
      padding: 1.3em 0.5em;
      border-radius: clampvw(12, 30) clampvw(12, 30) 0 0;
    }
  }

  &:hover {
    background: $color-inverse;
    color: $color;
  }

  &.active {
    background: $color-inverse;
    color: $color;
  }
}

.header__who-are-you {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  display: grid;
  font-size: clampvw(11, 21);
  color: $color-inverse;

  @include _sm {
    display: grid;
    grid-template-columns: min-content max-content min-content;
    height: 4em;
    line-height: 1;

    &::before,
    &::after {
      content: "";
      align-self: end;
      //grid-row: 2/3;
      display: inline-block;
      vertical-align: middle;
      width: clampvw(25, 44);
      height: clampvw(25, 44);
      background: var(--icon-arrow-left-bottom) no-repeat center / contain;
    }
    &::before {
      //grid-column: 1/2;
      margin-right: 0.5em;

      .header__big-link--advertiser:hover ~ & {
        opacity: 0;
        visibility: hidden;
      }
    }
    &::after {
      grid-column: 3/4;
      margin-left: 0.5em;
      transform: scale(-1, 1);

      .header__big-link--blogger:hover ~ & {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .header--mini & {
    display: none;
  }
}

.header__who-are-you-span {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.header__who-are-you-span--1 {

  .header__big-link:hover ~ .header__who-are-you & {
    opacity: 0;
    visibility: hidden;
  }
}

.header__who-are-you-span--2 {
  opacity: 0;
  visibility: hidden;

  .header__big-link:hover ~ .header__who-are-you & {
    opacity: 1;
    visibility: visible;
  }
}

.header__bordered-span {
  padding: 3px 0.4em;
  border: 1px solid #ffffff;
  border-radius: 100vw;
  font-size: 0.6666em;
  line-height: 1;
}
