.how-to-start {
  display: grid;
  row-gap: 46px;
  padding-top: clampvw(60, 150);
  padding-bottom: clampvw(60, 150);
  border-radius: 0 0 var(--block-radius) var(--block-radius);

  @include _sm {
    grid-template-columns: 1fr min-content;
    justify-content: space-between;
    column-gap: clampvw(30, 100);
    align-items: center;
    padding-right: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 344/369;
    background: no-repeat top center / contain;
    @include adaptive-bg("../img/how-to-start-full", ".png");

    @include _sm {
      //width: 689px;
      //--img-size: #{clampvw(367, 687)};
      //width: var(--img-size);
      width: clampvw(300, 631);
      aspect-ratio: 0.8538;
      //height: calc(var(--img-size) * 1.15);
      background-position: top right;
      @include adaptive-bg("../img/how-to-start", ".png");
    }
  }
}

.how-to-start__inner {
  @include _sm {
    margin-top: calc(0px - clampvw(10, 60));
  }
}

.how-to-start__title {
  margin-bottom: 0.55em;
}

.how-to-start__text {
  margin-bottom: clampvw(26, 80);
  font-size: clampvw(12, 22);
  line-height: 1.4;
}

.how-to-start__btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: clampvw(8, 15);
  max-width: clampvw(400, 675);
}

.how-to-start__btn {
  padding: 1.2em;
  text-align: center;
}
