.main-block {
  //position: sticky;
  //top: var(--header-height);
  //top: 60px;
  width: fit-content;
  max-width: 1920px;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--block-radius);
  //background: $color-inverse;
  border: 1px solid rgba(255, 255, 255, 0.2);

  //section[id] {
  //  // компенсация прокрутки под хедер для якорей
  //  &::before {
  //    content: "";
  //    display: block;
  //    height: var(--header-height); // from JS
  //    margin-top: calc(0px - var(--header-height));
  //    pointer-events: none;
  //
  //  }
  //}
}
