.mean-for-you {
  display: grid;
  row-gap: 24px;
  padding-top: 25px;
  padding-bottom: clampvw(60, 180);
  line-height: 1.4;

  @include _sm {
    grid-template-columns: 1fr 1fr;
    column-gap: clampvw(25, 50);
    padding-top: clampvw(20, 36);
  }

  &::before {
    content: "";
    aspect-ratio: 474/505;
    background: url("../img/mean-for-you.svg") no-repeat left top / contain;

  }
}

.mean-for-you__inner {

  @include _sm {
    padding-top: clampvw(10, 40);
  }
}

.mean-for-you__text {
  padding-top: min-px-vw(10);
  margin-bottom: clampvw(10, 37);
  font-size: clampvw(12, 22);
  line-height: 1.4;

  p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.mean-for-you__list {
  padding-left: 0;
  margin: 0 0 clampvw(20, 50);
  font-size: clampvw(10.66, 20);
  list-style-type: none;
}

.mean-for-you__item {
  position: relative;
  padding-left: clampvw(34, 64);
  margin-bottom: 1.2em;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      //animation-delay: $i*4.4s;
      --animation-delay: #{$i * 0.5s};
    }
  }

  &::before {
    --size: #{clampvw(17.6, 33)};
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #4523e6 var(--icon-tick) no-repeat center / clampvw(6.93, 13) auto;
  }
}
