.modal-block {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: minmax(20px, 1fr) min-content 1fr;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  overflow-y: auto;

  @include _lg {
    background: rgba(0, 0, 0, 0.4);
  }

  &.hide {
    display: none;
  }
}

.modal-block--adaptive {
  @include _lg-max {
    display: block;
    padding: 0;
  }
}

.modal {
  --modal-pl: 100px;
  --modal-pt: 100px;
  --modal-pb: 100px;
  --radius: 15px;
  grid-area: 2 / 2 / 2 / 2;
  position: relative;
  min-height: 100%;
  height: auto;
  padding:  var(--modal-pt, 100px) var(--modal-pl, 100px)  var(--modal-pb, 100px);
  border-radius: var(--radius);
  background: $color-inverse;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: #000000;

  .modal-block--adaptive & {
    --modal-pl: 20px;
    --modal-pt: 0;
    --modal-pb: 33px;
    border-radius: 0;

    @include _sm {
      --modal-pl: 50px;
    }

    @include _lg {
      --modal-pl: 100px;
      --modal-pt: 50px;
      --modal-pb: 40px;
      border-radius: var(--radius);
    }
  }
}

.modal__content {

}

.modal__title {

  @include _lg-max {
    width: calc(100% + 2 * var(--modal-pl));
    padding: 13px var(--modal-pl);
    margin-left: calc(0px - var(--modal-pl));
    margin-right: calc(0px - var(--modal-pl));
    font-size: 18px;
    font-weight: 500;
    font-family: $font-main;
    background: #FFFFFF;
    color: #CCCCCC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

}

.modal__btn {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  min-width: unset;
  padding: 5px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  background: transparent;
  color: #292929;

  &:hover {
    opacity: 0.8;
    color: $bright;
  }

  .modal-block--adaptive & {

    @include _lg-max {
      position: absolute;
      top: 10px;
      left: 24px;
      color: transparent;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 20px;
        height: 17px;
        background: #999999;
        mask: var(--icon-arrow-left3) no-repeat center / contain;
      }
    }

  }
}

.modal__logo {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include _lg {
    display: none;
  }
}
