@mixin _media-nav {
  @media (min-width: 900px) {
    @content;
  }
}

.nav {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}


.nav--opened {

}


