@mixin _media-nav {
  @media (min-width: 900px) {
    @content;
  }
}

.nav {
  //--width-mobile-menu: 295px;
  --width-mobile-menu: calc(100% + 2 * (var(--header-px)));
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content auto;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 0;

  @include _media-nav {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    height: 65px;
    margin-bottom: 0;
  }

  &.header__nav {

    @include _media-nav {
      max-width: 1100px;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .nav__list {
      @include _media-nav {
        order: initial;
        display: flex;
        align-items: center;
        width: auto;
        margin: 0 auto 0;
      }
    }
  }

  .btn-toggle {
    order: 3;

    @include _media-nav {
      order: revert;
    }
  }

  &.main-page {
    //margin-bottom: 150px;
  }
}

.nav:not(.nav--opened) .nav__overlay {
  display: none;
  @include _media-nav {
    display: contents;
  }
}

.nav--opened {

  .nav__overlay {
    display: contents;
    //position: fixed;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //display: block;
    //width: 100%;
    //height: 100vh;
    //background: rgba(0, 0, 0, 0.4);
    //padding: 0;
    //overflow-y: auto;
    //z-index: 10;
  }

  .nav__wrap {
    order: 4;
    grid-column: 1/-1;
    display: block;
    width: var(--width-mobile-menu);
    min-height: 100vh;
    margin-top: var(--header-pb);
    margin-left: calc(0px - var(--header-px));
    margin-right: calc(0px - var(--header-px));
    background: $color-inverse;
    color: $black;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.35);
    z-index: 20;
  }
}

.nav__wrap {
  display: contents;
}

.nav__logo {

  @include _media-nav {

  }

  .logo__img--text {
    display: none;
    @include _media-nav {
      display: block;
    }
  }

  .logo__img--pict {

    @include _media-nav {
      display: none;
    }

    .index .nav:not(.nav--opened) & {
      //display: none;
      visibility: hidden;
      opacity: 0;
    }

  }
}

//.nav__logo--text {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: 100%;
//  height: 70px;
//  padding-top: 48px;
//  padding-bottom: 48px;
//
//  @include _media-nav {
//    display: none;
//    padding-top: 0;
//    padding-bottom: 0;
//  }
//}

.nav__user {
  justify-self: end;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  gap: 15px;
  padding-left: 0;
  padding-right: 0;

  @include _lg {
    order: 2;
    padding: 7px 15px;
    margin-top: 0;
  }
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 48px;

  @include _media-nav {
    align-items: revert;
    width: auto;
    min-height: unset;
    margin-bottom: 0;
    margin-left: clampvw(10, 18); //22
    margin-right: clampvw(10, 18);
    border: none;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #adc2db;

    @include _media-nav {
      border: 0;
    }
  }

  &.hide {
    display: none;
  }
}

.nav__item--about-us {
  flex-wrap: wrap;
}

.nav__list {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 var(--x-padding);
  list-style-type: none;

  @include _media-nav {
    justify-self: center;
    width: 552px;
    padding-left: 0;
    padding-right: 0;
  }

}

.nav__link {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 400;
  color: inherit;

  @include _media-nav {
    display: flex;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    color: $gray-semi;
    text-transform: uppercase;
  }

  &:hover {
    color: $black;

  }
}

.nav__link--about-us {
  &::before {

    @include _lg-max {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #70b2e2;
      mask: var(--icon-danger-inverse) no-repeat center / contain;
    }
  }

  & + .modal-block {
    @include _lg-max {
      position: static;
      display: block;
      padding: 0;
      background: transparent;
    }

    .modal {
      @include _lg-max {
        display: contents;
      }
    }

    .modal__btn {
      @include _lg-max {
        display: none;
      }
    }

    .about-us {
      @include _lg-max {
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid #adc2db;
      }
    }

  }

}

.nav__link--become-partner {
  &::before {

    @include _lg-max {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #70b2e2;
      mask: var(--icon-partner) no-repeat center / contain;
    }
  }
}

.nav__link--refer-us {
  &::before {

    @include _lg-max {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #70b2e2;
      mask: var(--icon-refer-us) no-repeat center / contain;
    }
  }
}

.nav__link--notification {
  &::before {

    @include _lg-max {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #70b2e2;
      mask: var(--icon-notice) no-repeat center / contain;
    }
  }

  @include _lg {
    display: none;
  }
}

.nav__link--log-out {
  &::before {

    @include _lg-max {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 9px;
      background-color: #70b2e2;
      mask: var(--icon-logout) no-repeat center / contain;
    }
  }

  @include _lg {
    display: none;
  }
}

.nav__link--search-result {
  span {
    color: #d62d30;
  }
}
