.start-up-help {
  display: grid;
  row-gap: 35px;

  @include _md {
    //grid-template-columns: 748fr 5px 921fr;
    grid-template-columns: 1fr min-content;
    align-items: center;
    column-gap: 3px;
    width: calc(100% + var(--x-padding));
    margin-right: calc(0px - var(--x-padding));
  }

  &::after {
    content: "";
    width: 100%;
    aspect-ratio: 359/232;
    background: url("../img/start-up-help-full.svg") no-repeat top center / contain;

    @include _md {
      //grid-column: 3/4;
      width: clampvw(200, 921);
      aspect-ratio: 921/695;
      background: url("../img/start-up-help.svg") no-repeat top right / contain;
    }
  }
}

.start-up-help__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-size: clampvw(12, 24);
}

.start-up-help__item {
  position: relative;
  padding-left: clampvw(34, 64);
  margin-bottom: 1.2em;


  &:first-child {

    &::before {


    }
  }


  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      //animation-delay: $i*4.4s;
      --animation-delay: #{$i * 0.5s};
    }
  }

  &::before {
    --size: #{clampvw(19.6, 46)};
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #4523e6 var(--icon-tick) no-repeat center / clampvw(6.93, 13) auto;
    color: $color-inverse;
    opacity: 0; // for animation
  }

  .animation &{

    &::before {
      animation-delay: var(--animation-delay);
      animation-name: lighten;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }
}
