.what-it-cpa {
  display: grid;
  row-gap: 24px;
  padding-top: clampvw(38, 60);
  padding-bottom: 25px;

  @include _sm {
    grid-template-columns: 1fr 1fr;
    column-gap: clampvw(25, 50);
    padding-bottom: clampvw(20, 36);
  }

  &::before {
    content: "";
    aspect-ratio: 631/586;
    background: url("../img/what-it-cpa.svg") no-repeat left top / contain;

    @include _sm {
      order: 2;
    }
  }
}

.what-it-cpa__inner {
  @include _sm {
    padding-top: clampvw(40, 100);
  }
}

.what-it-cpa__text {
  font-size: clampvw(12, 22);
  line-height: 1.4;

  @include _md {
    max-width: min-px-vw(533);
  }
}
