.work-scheme {
  position: relative;
  padding-top: clampvw(60, 145);
  padding-bottom: clampvw(48, 174);
  margin-top: calc(0px - var(--block-radius));
  margin-bottom: calc(0px - var(--block-radius));
  border-radius: var(--block-radius);
  background: var(--dark);
  //box-shadow: 0 0 0 1px var(--dark);
  z-index: 2;
  overflow: hidden;
}

.work-scheme__title {
  //
}

.work-scheme__steps {
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 1fr;
  column-gap: 90px;
  row-gap: 50px;

  padding-left: 0;
  padding-top: 10px;
  margin: 0 0 50px;
  list-style-type: none;
  counter-reset: steps;

  @include _sm {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: clampvw(90, 160);
    padding-bottom: clampvw(88, 166);
    padding-top: clampvw(10, 40);
    margin-bottom: 0;
    overflow-y: unset;
  }
}

.work-scheme__step {
  display: grid;
  justify-content: center;
  min-width: 160px;
  opacity: 0.3;
  transition: opacity 0.3s;

  @include _sm {
    grid-template-columns: min-content clampvw(96, 177) max-content clampvw(75, 140) 1fr; // отступы
    justify-content: stretch;
    min-width: unset;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      --animation-delay: #{$i * 0.2s};
    }
  }

  &--b1 {
    --bgi: url("../img/b1.svg");
  }

  &--b2 {
    --bgi: url("../img/b2.svg");
  }

  &--b3 {
    --bgi: url("../img/b3.svg");
  }

  &--b4 {
    --bgi: url("../img/b4.svg");
  }

  &--p1 {
    --bgi: url("../img/p1.svg");
  }

  &--p2 {
    --bgi: url("../img/p2.svg");
  }

  &--p3 {
    --bgi: url("../img/p3.svg");
  }

  &--p4 {
    --bgi: url("../img/p4.svg");
  }

  &:hover {
    opacity: 1;
    /* stylelint-disable declaration-no-important  */
    span::before {
      opacity: 1 !important; // из-за анимации
    }
    /* stylelint-enable */
  }

  &.animation {
    animation-delay: var(--animation-delay);
    animation-name: lighten03;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    span::before {
      animation-delay: var(--animation-delay);
      animation-name: lighten-darken;
      animation-duration: 1.1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  &::before {
    counter-increment: steps;
    content: counter(steps) " шаг";
    white-space: nowrap;
    font-size: clampvw(34, 64);
    //order: -1;
    margin-bottom: 17px;

    @include _sm {
      grid-column: 1/2;
      margin-bottom: unset;
    }
  }

  &::after {
    content: "";
    order: -1;
    display: inline-block;
    vertical-align: middle;
    width: clampvw(157, 294);
    height: clampvw(75, 140);
    margin-bottom: 51px;
    margin-left: auto;
    margin-right: auto;
    background: var(--bgi) no-repeat top center / contain;

    @include _sm {
      grid-column: 3/4;
      grid-row: 1/2;
      order: initial;
      margin-bottom: unset;
    }
  }

  span {
    position: relative;
    max-width: 180px;
    font-size: clampvw(12, 31);

    @include _sm {
      grid-column: 5/6;
      width: auto;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      display: block;
      width: 100%;
      aspect-ratio: 3/2;
      border-radius: 50%;
      background: $bright;
      filter: blur(53.3333px);
      transform: translateX(-50%) translateY(-40%) rotate(-8.71deg);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.5s;

      @include _sm {
        top: 50%;
        left: unset;
        right: 100%;
        width: 90%;
        aspect-ratio: 3/2;
        transform: translateX(-10%) translateY(-50%) rotate(-8.71deg);
      }
    }
  }
}

.work-scheme__btn {
  width: 100%;
  padding: 0.8em;
  font-size: clampvw(24, 96);
}
