<footer id="footer" class="footer container">

  <p class="footer__copyright">© 2015–2022 SocialLead</p>
  <ul class="footer__links">
    <li>
      <a href="https://docs.google.com/document/d/e/2PACX-1vTxxIf-F73YX6xOFXtQaRdjKjB3HFIv_V_In5mY4wHaw5A6LOU66zrv0I8vJoq5ijb3IEfl4MxkNHXs/pub">Политика обработки <br>персональных данных</a>
    </li>
    <li><a href="https://docs.google.com/document/d/e/2PACX-1vSiRueLYHuGdKG3V0ncB1xXNMPYpfgPEFUr3HsjMMArz4gycHTViT_LZl9ZF6FuCW2ALKWsdIJasZsx/pub">Пользовательское <br>соглашение</a></li>
     </ul>

</footer>
